<div class="card employee-card" style="min-width: 20rem; margin-bottom: 25px;">
    <div class="card-header bg-primary" style="font-size: 30px; color: black; padding-left: 4rem;">
        <h3 class="card-title"><i class="fas fa-user-tie mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-header" style="font-size: 30px; color: darkblue">
        <h2 class="card-title">{{ name }}</h2>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">ID: {{ id }}</li>
            <li class="list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item">Office number: {{ officeNumber }}</li>
        </ul>
    </div>
</div>